:root {
  --grey-text: #555;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: #f9f9f9;
  transition: all 0.3s ease;
}

/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.main,
.playerBar,
.appHeader,
.carouselContainer,
.showGroup,
.episodeCard {
  background-color: inherit !important;
  color: inherit !important;
  transition: all 0.3s ease !important;
}